.card{
  display:flex;
  flex-direction: column;
  width:80%;
  background-color: var(--secondery-color);
  margin: 4% auto;
  min-height: 50vh;
  box-shadow: 4px 3px 25px -2px var(--secondery-color);
}

.card__image-container{
  margin: auto;
  width: 45%;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  padding: 2px;
  display: flex;
}

.card_image{
  border-radius: 50%;
  width: 100%;
  background: linear-gradient(var(--main-color), var(--msg-btn));
}

.card--name{
  font-size: 20px;
  color: var(--main-color);
}

.card--service{
  font-size: 18px;
  font-family: var(--text-font);
  padding: 4% 0;
  display: block;
  font-family: var(--text-font)
}

.card__content{
  padding: 6%;
}

.card--stars{
  display: flex;
}

.card__header{
  display: flex;
  justify-content: space-between;
}

.card--bio{
  font-size: 14px;
  padding: 2% 0;
}

.message--btn{
  font-family: var(--text-font);
  padding: 4%;
  line-height: 10px;
  letter-spacing: unset;
  background-color: var(--msg-btn);
  color: var(--main-color);
  width :35%;
  font-size :15px;
  margin-right :2%;
}

.hire--btn{
  font-family: var(--text-font);
  padding: 4%;
  line-height: 10px;
  letter-spacing: unset;
  background-color: var(--main-color);
  color: var(--secondery-color);
  width: 35%;
  font-size: 15px;
}

.card__button-container{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5%;
}
