.signup-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto ;
}

.signup-form .input-label {
    width: 100%;
    margin-bottom: 15px;
}

.signup-form .input-filed {
    width: 100%
}

.signup-form .select__container {
    width: 100%;
    margin-bottom: 15px;
}

.signup-form .select__container select {
    width: 100%;
}

.signup-form button {
    width: 70%;
    margin: auto;
    padding: 15px 7px;
    background: var(--main-color);
    color: var(--secondery-color);
    border-radius: 30px;
}

.signup-text {
    margin-top: 30px;
}

.signup-text a {
    color: #458EFB
}
