.input-label{
  color: #333;
  display: block;
  font-size: 18px;
  font-family: var(--text-font);
}

.input-filed{
  display: block;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  height: 33px;
  background: #eee;
  color: #555;
  margin-top: 3px;
}
