.select__label {
  color: #333;
  display: block;
  font-size: 18px;
  font-family: var(--text-font);
}

.select__tag {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 2%;
  outline: none;
  height: 3rem;
  color: var(--text-color);
  margin-top: 2%;
  width: 85%;
  background: var(--secondery-color);
}
