.card{
    background: var(--secondery-color);
    width: 25rem;
    height: 14rem;
    margin: 2%; 
    border-radius: 8px;
    color:var(--text-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0.7rem;
}

.card__username{
    padding-bottom: 1.5rem;
    color:#343434;
}

.card__body{
    padding: 0.2rem;
    color:#343434;
}

.card__status{
    padding: 0.2rem;
    display: flex;
}

.pending{
    background-color: #FED605;
    width: 5rem;
    border-radius: 3px;
    text-align: center;
    color: black
}

.accepted{
    background-color: #089A16;
    width: 3.7rem;
    border-radius: 3px;
    text-align: center;
    color:white;
}

.decliend{
    background-color: #E52929;
    width: 3.7rem;
    border-radius: 3px;
    text-align: center;
    color: white;
}
