.label{
  display: block;
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 24px
}

.textarea{
  display: block;
  width: 100%;
  min-height:200px;
  resize: vertical;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: var(--secondery-color);
  color: var(--text-color);
  font-size: 18px;
}
